<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00 - 10:30</td>  <td>Using OSS for research</td> </tr>
      <tr> <td>10:30 - 10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45 - 12:00</td>  <td>Packaging software</td> </tr>
      <tr> <td>12:00 - 13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00 - 14:30</td>  <td>Unit testing and continuous integration</td> </tr>
      <tr> <td>14:30 - 14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45 - 17:00</td>  <td>Containers</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00 - 10:30</td>  <td>Presentation and demo: HPC Cloud at SURFsara</td> </tr>
      <tr> <td>10:30 - 10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45 - 12:00</td>  <td>Hands-on tests with HPC Cloud</td> </tr>
      <tr> <td>12:00 - 13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00 - 14:30</td>  <td>Presentation and demo: cloudifying - parallelism and API</td> </tr>
      <tr> <td>14:30 - 14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45 - 17:00</td>  <td>Hands-on tests with HPC Cloud</td> </tr>
    </table>
  </div>
</div>
